<div class="comments">
  <div>
    <%= form_with model: [@post, @comment] do |f| %>
      <%= render 'comments/errors' %>

      <div class="form__field">
        <%= f.label 'New comment', class: 'form__label' %>
        <%= f.text_area :body, class: 'form__input' %>
        <%= f.hidden_field :author_id, value: @post.author_id, class: 'form__input' %>
      </div>
      <%= f.submit 'Submit', class: 'button button--blue button--small mb-4' %>
    <% end %>
  </div>
</div>
