<% id = "comments-#{@post.id}" %>
<div class= "comments" id="<%= id %>">
  <label class="form__label d-block">Comments</label>
  <% if current_user %>
    <%= select_tag('published', options_for_select(Comment.statuses, selected: params[:published] == 'true' ? 0 : 1), onclick: "toggle()", data: { path: post_path(@post.id) }, class: "js-toggle") %>
  <% end %>

  <% if params[:published] == 'true' || current_user.nil? %>
    <% @post.comments.published.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% else %>
    <% @post.comments.unpublished.each do |comment| %>
      <% if comment.has_parent? %>
        <div class="ms-4">
          <%= render 'comments/show', comment: comment %>
        </div>
      <% else %>
        <% if comment.editable?(current_user) %>
          <%= render 'comments/show', comment: comment %>
        <% end %>

        <% if comment.editable?(current_user) %>
          <%= link_to 'Publish', comment_status_url(comment.post, comment), method: :patch, class: "button button--green button--small", remote: true %>
        <% end %>

        <% reply = "reply-#{comment.id}" %>
        <div id="<%= reply %>"></div>
      <% end %>
    <% end %>
  <% end %>


  <%= render 'shared/errors', pattern: @comment %>
</div>
<%= javascript_pack_tag 'toggle.js' %>
