<% id = "comments-#{@post.id}" %>
<div class= 'comments' id="<%= id %>">
  <label class='form__label d-block'>Comments</label>

  <% if current_user %>
    <%= select_tag :status, options_for_select(Comment.statuses, selected: @status ? @status : 1), data: { url: status_path(id: @post), remote: true }, class: 'px-2 mx-auto form-select w-25' %>
  <% end %>

  <% if @selected_comments %>
    <% @selected_comments.each do |comment| %>
      <%= render 'comments/editable', comment: comment %>

      <%= render 'comments/published', comment: comment %>
    <% end %>
  <% else %>
    <% if @status %>
      <% @post.comments.where(status: @status).each do |comment| %>
        <%= render 'comments/published', comment: comment %>

        <%= render 'comments/editable', comment: comment %>
      <% end %>
    <% else %>
      <% @post.comments.unpublished.each do |comment| %>
        <%= render 'comments/editable', comment: comment %>
      <% end %>
    <% end %>
  <% end %>

  <% if @comment %>
    <%= render 'shared/errors', pattern: @comment %>
  <% end %>
</div>
