<% id = "comments-#{@post.id}" %>
<div class= 'comments' id="<%= id %>">
  <label class='form__label d-block'>Comments</label>
  <% if @selected_comments %>
    <% @selected_comments.each do |comment| %>
      <% if comment.unpublished? && comment.editable?(current_user) %>
          <%= render 'comments/show', comment: comment %>
          <%= link_to 'Publish', comment_status_url(comment.post, comment), method: :patch, class: 'button button--green button--small me-4', remote: true %>
      <% end %>

      <%= render 'comments/published', comment: comment %>
    <% end %>
  <% else %>
    <% if @status %>
      <% @post.comments.where(status: @status).each do |comment| %>
        <%= render 'comments/published', comment: comment %>

        <%if comment.editable?(current_user) && comment.unpublished? %>
          <%= render 'comments/show', comment: comment %>
          <%= link_to 'Publish', comment_status_url(comment.post, comment), method: :patch, class: 'button button--green button--small me-4', remote: true %>
        <% end %>
      <% end %>
    <% else %>
      <% @post.comments.unpublished.each do |comment| %>
        <% if comment.editable?(current_user) %>
          <%= render 'comments/show', comment: comment %>
          <%= link_to 'Publish', comment_status_url(comment.post, comment), method: :patch, class: 'button button--green button--small me-4', remote: true %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @comment %>
    <%= render 'shared/errors', pattern: @comment %>
  <% end %>
</div>
