<div class="row mt-4">
  <% if comment.author.profile_image.attached? %>
    <%= image_tag current_user.profile_image, class: "col-lg-2 avatar avatar--small mt-1" %>
  <% end %>

  <div class="comments__field w-75">
    <div class="comments__input">
      <%= comment.body %>

      <% if comment.created_at != comment.updated_at %>
        <%= content_tag 'span', 'Edited', class: "comment__info" %>
      <% end %>
    </div>
  </div>
</div>

<p class="form__title">Updated: <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago.</p>

<% if comment.created_at > 1.hour.ago && comment.editable?(current_user) %>
  <%= link_to 'Edit', edit_post_comment_path(comment.post, comment), class: "button button--yellow button--small" %>
<% end %>

<% if comment.editable?(current_user) %>
  <%= link_to 'Destroy', post_comment_path(comment.post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "button button--red button--small mx-4" %>
<% end %>
