<div class= "comments">
  <label class="form__label">Comments</label>

  <% @post.comments.each do |comment|%>
    <div class="comments__field">
      <div class="comments__input">
        <%= comment.body %>
      </div>
    </div>

    <p class="form__title">Updated: <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago.</p>

    <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "button button--red button--small" %>
  <% end %>

      <%# <%= form_for(post_comment_path(@post, comment)) do |f| %>
        <%# <%= f.select_tag(:status, options_for_select(Comment.statuses)) %>
         <%#<%= f.submit_tag 'Filter' %>
       <%#<% end %>
</div>
