<div class= "comments text-black">
  <label class="form__label d-block">Comments</label>

  <%= label_tag 'published', 'published' %>
  <%= check_box_tag('published', 'unpublished', params[:unpublished] == 'true', onclick: "toggle()") %>
  <% if params[:unpublished] == 'true' %>
    <% @post.comments.published.each do |comment| %>
      <%= render 'posts/comments/published', comment: comment %>
    <% end %>
  <% else %>
    <% @post.comments.unpublished.each do |comment| %>
      <%= render 'posts/comments/published', comment: comment %>

      <%= link_to 'Published', post_comment_path(comment.post, comment), method: :patch, class: "button button--yellow button--small" %>
    <% end %>
  <% end %>
</div>

<%= javascript_pack_tag 'toggle.js' %>
