<div class='posts__form'>
  <h1 class='posts__title'>Edit Profile</h1>
  <%= form_with(model: @author, class: 'form form--large') do |form| %>
    <%= render 'shared/errors', pattern: @author %>

    <% if current_user.profile_image.attached? %>
      <p class='form__label'>Profile Photo</p>
      <%= image_tag current_user.profile_image, class: 'avatar' %>
    <% end %>

    <div class='form__field'>
      <%= form.file_field :profile_image, class: 'form__input' %>
    </div>

    <div class='form__field'>
      <%= form.text_field :first_name, class: 'form__input' %>
    </div>

    <div class='form__field'>
      <%= form.text_field :last_name, class: 'form__input' %>
    </div>

    <div class='form__field'>
      <%= form.text_field :email, class: 'form__input' %>
    </div>

    <div class='form__field'>
      <%= form.select :gender,options_for_select([['Male'], ['Female']], selected: @author.gender), {}, class: 'form-select mx-auto' %>
    </div>

    <div class='form__field d-flex justify-content-between'>
      <%= form.date_select :birthday, start_year: 2000, with_css_classes: true %>
    </div>

    <div class='form__field'>
        <%= form.password_field :password, class: 'form__input', placeholder: 'Password' %>
      </div>

    <div class='form__field'>
      <%= form.password_field :password_confirmation, class: 'form__input', placeholder: 'Password_confirmation' %>
    </div>

    <div class='actions'>
      <%= form.submit class: 'button button--blue button--large' %>
      <%= link_to 'Back', author_path, class: 'button button--blue' %>
    </div>
  <% end %>
</div>
