<div class='posts__form'>
  <h1 class='posts__title'>Sign Up</h1>

  <div class='form'>
    <%= form_for @author do |f| %>
      <%= render 'shared/errors', pattern: @author %>

      <div class='field'>
        <%= f.label :email, class: 'form__label' %>
        <%= f.text_field :email, class: 'form__input' %>
      </div>

      <div class='field'>
        <%= f.label :first_name, class: 'form__label' %>
        <%= f.text_field :first_name, class: 'form__input' %>
      </div>

      <div class='field'>
        <%= f.label :last_name, class: 'form__label' %>
        <%= f.text_field :last_name, class: 'form__input' %>
      </div>

      <div class='field'>
        <%= f.label :password, class: 'form__label' %>
        <%= f.password_field :password, class: 'form__input' %>
      </div>

      <div class='field'>
        <%= f.label :password_confirmation, class: 'form__label' %>
        <%= f.password_field :password_confirmation, class: 'form__input' %>
      </div>

      <%= f.submit 'Sign Up', class: 'button button--blue button--small' %>
    <% end %>
  </div>
</div>
