<%= form_with(model: post, class: "form") do |form| %>
  <%= render 'shared/errors', pattern: post %>

  <div class="form__field">
    <label class="form__label">Title</label>
    <%= form.text_field :title, class: "form__input", placeholder: "Title" %>
  </div>

  <div class="form__field">
    <label class="form__label">Content</label>
    <%= form.text_area :content, class: "form__input", placeholder: "Content" %>
  </div>

  <div class="form__field">
    <label class="form__label">Image</label>
    <%= form.file_field :image, class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.hidden_field :author_id, value: current_user.id, class: 'form__input' %>
  </div>

  <div class="actions">
    <%= form.submit class: "button button--blue button--large" %>
    <%= link_to 'Back', posts_path, class: "button button--blue" %>
  </div>
<% end %>
