<%= form_with(model: post, class: "form") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h4 class="form__title"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
        <% post.errors.each do |error| %>
          <li class="form__errors"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__field">
    <%= form.text_field :title, class: "form__input", placeholder: "Title" %>
  </div>

  <div class="form__field">
    <%= form.text_area :content, class: "form__input", placeholder: "Content" %>
  </div>

  <div class="form__field">
    <%= form.text_field :image, class: "form__input", placeholder: "Image" %>
  </div>

  <div class="form__field">
    <%= form.select :author_id, Author.all.map { |author| ["#{author.first_name} #{author.last_name}, #{author.gender}, #{author.birthday}", author.id] }, {}, class: "form__select" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button button--blue button--large" %>
    <%= link_to 'Back', posts_path, class: "button button--blue" %>
  </div>
<% end %>
