<div class="posts__form">
  <h1 class="posts__title">Posts</h1>

  <%= link_to 'New Post', new_post_path, class: "button button--white button--small" %>

  <% @posts.each do |post| %>
    <div class="form form--large">
      <div class="form__field">
        <label class="form__label">Title</label>
        <%= text_field_tag 'title', post.title, class: "form__input", readonly: true %>
      </div>

      <div class="form__field">
        <label class="form__label">Image</label>
        <%= image_tag post.image, class: "form__image", readonly: true %>
      </div>

      <div class="form__field">
        <label class="form__label">Content</label>
        <%= text_area_tag 'content', post.content, class: "form__input", readonly: true %>
      </div>

      <div class="form__field">
        <label class="form__label">Author</label>
        <%= text_field_tag 'author', post.author.full_name ,class: "form__input", readonly: true %>
      </div>
      
      <%= link_to 'Show', post, class: "button button--blue button--small" %>
      <%= link_to 'Edit', edit_post_path(post), class: "button button--yellow button--small" %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "button button--red button--small" %>
    </div>
  <% end %>
</div>
