<div class="posts__form">
  <h1 class="posts__title">Search Result</h1>

  <% @posts.each do |post| %>
    <div class="form form--large">
      <div class="form__field">
        <label class="form__label">Title</label>
        <%= text_field_tag 'title', post.title, class: "form__input", readonly: true %>
      </div>

      <div class="form__field">
        <label class="form__label">Image</label>
        <%= image_tag post.image, class: "form__image" %>
      </div>

      <div class="form__field">
        <label class="form__label">Content</label>
        <%= text_area_tag 'content', post.content, class: "form__input", readonly: true %>
      </div>

      <div class="form__field">
        <label class="form__label">Author</label>
        <%= text_field_tag 'author', post.author.full_name ,class: "form__input", readonly: true %>
      </div>

      <p class="form__title">Updated: <%= distance_of_time_in_words(post.updated_at, Time.now) %> ago.</p>

      <%= link_to 'Show', post, class: "button button--blue button--small" %>
      <% if current_user == post.author %>
        <%= link_to 'Edit', edit_post_path(post), class: "button button--yellow button--small mx-4"%>
      <% end %>

      <% if current_user == post.author %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "button button--red button--small" %>
      <% end %>

      <p class="form__counter">Views: <%= post.count_views %></p>
    </div>
  <% end %>
</div>
