<div class="posts__form">
  <h1 class="posts__title">Post was successfully created</h1>

  <div class="form">
    <div class="form__field">
      <label class="form__label">Title</label>
      <%= text_field_tag 'title', @post.title, class: "form__input", readonly: true %>
    </div>

    <div class="form__field">
      <label class="form__label d-block">Image</label>
      <%= image_tag @post.image, alt: "Not fount image", class: "form__image" %>
    </div>

    <div class="form__field">
      <label class="form__label">Content</label>
      <%= text_area_tag 'content', @post.content, class: "form__input", readonly: true %>
    </div>

    <div class="form__field">
      <label class="form__label">Author</label>
      <%= text_field_tag 'author', @post.author.full_name ,class: "form__input", readonly: true %>
    </div>

    <% @post.comments.each do |comment| %>
      <div class="text-black">
        <b>Comment:</b>
        <%= comment.body %>
      </div>
    <% end %>

    <div class="my-4 text-black">
      <div>
        <p class="form__label">Comments</p>
        <%= form_for([@post, @post.comments.build]) do |f| %>
          <div class="form__field">
            <%= f.label 'New comment', class: 'form__label' %>
            <%= f.text_area :body, class: 'form__input' %>
            <%= f.hidden_field :author_id, value: @post.author_id, class: 'form__input' %>
          </div>
          <%= f.submit 'Submit', class: 'button button--blue' %>
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit', edit_post_path(@post), class: "button button--blue button--small" %>
    <%= link_to 'Back', posts_path, class: "button button--blue button--small ms-4" %>
  </div>
</div>
