<div class="posts__form">
  <h1 class="posts__title">Post was successfully created</h1>

  <div class="form form--large">
    <div class="form__field">
      <label class="form__label">Title</label>
      <%= text_field_tag 'title', @post.title, class: "form__input", readonly: true %>
    </div>

    <div class="form__field">
      <label class="form__label d-block">Image</label>
      <%= image_tag @post.image, alt: "Not fount image", class: "form__image" %>
    </div>

    <div class="form__field">
      <label class="form__label">Content</label>
      <%= text_area_tag 'content', @post.content, class: "form__input", readonly: true %>
    </div>

    <div class="form__field">
      <label class="form__label">Author</label>
      <%= text_field_tag 'author', @post.author.full_name ,class: "form__input", readonly: true %>
    </div>

    <p class="form__title">Updated: <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago.</p>

    <%= render 'posts/comments/index' %>
    <%= render 'posts/comments/create' %>

    <%= link_to 'Edit', edit_post_path(@post), class: "button button--blue button--small" %>
    <%= link_to 'Back', posts_path, class: "button button--blue button--small ms-4" %>

    <p class="form__counter">Views: <%= @post.impressionist_count %></p>
  </div>
</div>
