<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-primary text-center">
    <div id="user_header text-black">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", logout_path, class: "text-black" %>
      <% else %>
        <%= link_to "Sign Up", signup_path, class: "text-black" %> or
        <%= link_to "Log In", login_path, class: "text-black" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
